.language-switcher {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 20px;
}

body {
  background: linear-gradient(to right, #c29767, #e4ad83, #e9bc81, #dfc889);
  background-size: 400% 100%;
  margin: 0;
  height: 100vh;
  animation: gradientShift 12s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
